<div class="panel panel-{{ thread.level }}">
    <div class="panel-heading" ng-click="toggle(thread.id)">
        <div class="row">
            <div class="col-md-2">
                {{ thread.application }}
                <i ng-show="Utils.keys(thread.children).length">({{ Utils.keys(thread.children).length }})</i>
            </div>
            <div class="col-md-8">{{ thread.message }}</div>
            <div class="col-md-2">{{ thread.date | date:'medium' }}</div>
        </div>
    </div>

    <div class="panel-body" id="thread-{{ thread.id }}" style="display: none;">
        <tabset ng-show="Utils.keys(thread.context).length">
            <tab ng-repeat="(key, context) in thread.context" heading="{{ key }}">
                <pre>{{ context | json }}</pre>
            </tab>
        </tabset>

        <hr ng-show="Utils.keys(thread.context).length && Utils.keys(thread.children).length" />

        <div ng-show="Utils.keys(thread.children).length">

            <ul style="list-style: none">
                <li ng-repeat="thread in thread.children" ng-include="'views/thread.html'"></li>
            </ul>
        </div>
    </div>
</div>
